

.projectCard {
  font-family: "Roboto";
  font-weight: 700;
  height: 350px;
  border: none;
  overflow: hidden;
  outline: none;
  display: flex;
  transition: .5s ease-in-out;
  padding: 0px;
  
  &:hover {
    
    .overlay {    
     opacity: 1;
    }
    img{
      filter: blur(5px);
    }
  }
 
  img {
    width: 100%;
    height: 100%;
  
  }
  .project-name{
    text-transform: uppercase;
  }

  .overlay {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0c0c0cd9;
  
    width: 100%;
    height: auto;
    transition: .5s ease;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
  
    svg {
      margin-top: 10px;
      width: 30px;
      fill: white;
      cursor: pointer;
      transition: 0.3s ease;
    }
  }


}
