.topBtn {
    background-color: #FFA62B;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    right: 10px;
    transition: 0.5s ease;
    opacity: 0;
    z-index: 5;
    border: none;

    img {
        transform: translateX(-50%);
        left: 50%;
        top: 15%;
        position: absolute;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        border: none;
        outline: none;
    }

}