.main_header {
  font-size: 40pt;
  font-weight: bold;
  margin-bottom: 50px;
}

.underLineDark {
  background-image: -webkit-gradient(linear, left top, right top, from(#82c0cc), to(#82c0cc));
  background-image: linear-gradient(to right, #82c0cc, #82c0cc);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100px 5px;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  height: 10px;
}

.underLineLight {
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(white));
  background-image: linear-gradient(to right, white, white);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100px 5px;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  height: 10px;
}

#home {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  font-family: "Raleway";
  height: 100vh;
  width: 100%;
}

#home .leftDiv {
  width: 100%;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  background-color: #16697a;
}

#home .leftDiv .content {
  margin-left: 35px;
  float: left;
}

#home .leftDiv .labelAboveTitle {
  margin-top: 15px;
  background-color: #82c0cc;
  width: 150px;
  font-weight: bold;
  color: white;
}

#home .leftDiv .firstMainHeader {
  float: left;
  font-size: 25pt;
  color: white;
  font-weight: bold;
}

#home .leftDiv .underTitleTxt {
  padding: 0;
  float: left;
  color: white;
  font-size: 13pt;
}

#home .leftDiv .underTitleTxt p {
  text-align: left;
  width: calc(100% - 100px);
}

#home .rightDiv {
  overflow-x: hidden;
  background-color: #ffffff;
  float: right;
  margin: 0px;
  padding: 0px;
  background-image: url("../images/profile_3.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

#home .aboutMeBtn {
  margin-right: 5px;
  background-color: transparent;
  border: #82c0cc solid 1px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 150px;
  font-weight: 700;
  border-radius: 50px;
  float: left;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#home .aboutMeBtn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#home .letsTalk {
  margin-right: 5px;
  background-color: #ffffff;
  color: #555555;
  text-align: center;
  height: 60px;
  width: 150px;
  font-weight: 700;
  border-radius: 50px;
  float: left;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#home .letsTalk:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#home .sideIcons {
  position: absolute;
  float: left;
  bottom: 0px;
  height: 80px;
  width: 50px;
  padding: 0;
  margin-left: 0px !important;
}

#home .sideIcons svg {
  margin-top: 10px;
  width: 30px;
  fill: white;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#home .sideIcons svg:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#about {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  font-family: "Raleway";
  width: 100%;
  color: #686868;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .header {
  margin-top: 10px;
  font-family: "Raleway";
  font-size: 30pt;
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#about .whoMI {
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  display: block;
}

#about .whoMI .firstHeader {
  font-family: "Raleway";
  font-size: 30pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#about .whoMI .textUnderHeader {
  text-align: center;
  font-family: "Raleway";
  font-size: 12pt;
}

#about .values {
  position: relative;
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-top: 15px;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

#about .values .card {
  margin-top: 10px;
  overflow: hidden;
}

#about .values svg {
  margin-top: 10px;
  width: 30px;
  fill: #176979;
}

#about .card {
  border: none;
  max-height: 290px !important;
}

#about .card .card-body p {
  font-weight: 100;
}

#about .card .card-body h3 {
  font-weight: bold;
}

#about svg {
  width: 100px !important;
}

#skills {
  position: relative;
  overflow-x: hidden;
  margin: 0px;
  background-color: #104e5b;
  padding: 0px;
  font-family: "Raleway";
  margin-top: 50px;
  font-size: 16pt;
  color: white;
}

#skills h3 {
  font-family: "Raleway";
  font-size: 30pt;
  font-weight: bold;
  padding-top: 10px;
}

#skills .card {
  width: 90px;
  height: 350px;
  margin: 20px;
  background-color: white;
  border-radius: 2%;
  margin-right: 5px;
  margin-bottom: 50px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

#skills .projects {
  margin-top: 20px;
  margin-bottom: 50px;
}

#contactMe {
  background-color: #292e3a;
  overflow-x: hidden;
  font-family: "Raleway";
  font-size: 16pt;
  padding-bottom: 50px;
}

#contactMe h3 {
  padding-top: 10px;
  color: white;
  font-family: "Raleway";
  font-size: 30pt;
  font-weight: bold;
}

#contactMe form {
  padding-top: 30px;
  font-family: "Raleway";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contactMe form input,
#contactMe form textArea {
  border-style: hidden;
  background-color: #383e4d;
  width: 350px;
  color: white;
}

#contactMe form input:focus,
#contactMe form textArea:focus {
  outline: none;
}

#contactMe .submitButton {
  background-color: #ffa62b;
  border: none;
  margin-top: 10px;
  width: 100px;
  height: 50px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 2;
}

#contactMe .submitButton:hover {
  -webkit-box-shadow: 0 0 11px #ffa62b;
          box-shadow: 0 0 11px #ffa62b;
}

#contactMe ::-webkit-input-placeholder {
  color: white;
}

#contactMe :-ms-input-placeholder {
  color: white;
}

#contactMe ::-ms-input-placeholder {
  color: white;
}

#contactMe ::placeholder {
  color: white;
}

@media screen and (max-width: 1000px) {
  [data-aos-delay] {
    -webkit-transition-delay: 0s !important;
            transition-delay: 0s !important;
  }
}
/*# sourceMappingURL=sections.css.map */