html {
  width: 100% !important;
  scroll-behavior: smooth;
}

.App {
  scroll-behavior: smooth !important;
  text-align: center;
  background-color: #ffffff;
  height: 100vh;
  width: 100% !important;
  margin: 0;
  padding: 0;
  justify-content: center;
}
